[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiotftp = {editable = true, path = "."}
attrs = "*"
async-timeout = "*"

[dev-packages]
async-generator = "*"
"flake8" = "*"
"flake8-docstrings" = ">=0.2.7"
"flake8-import-order" = ">=0.9"
hypothesis = "*"
mypy = ">=0.610"
pytest = "*"
pytest-asyncio = "*"
tox = "*"
